################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BROLRRHH_Backend/FileContentIndex/3fe61fc3-5b3a-45c8-be0b-e81198928ea0.vsidx
/.vs/BROLRRHH_Backend/FileContentIndex/5064cb5c-0097-4ccd-ad8c-d8c2cda81f00.vsidx
